global
    log stdout format raw local0
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    default_backend nginx_servers

backend nginx_servers
    balance roundrobin
    server nginx1 nginx1:80 check
    server nginx2 nginx2:80 check
    server nginx3 nginx3:80 check
